body {
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #180F6E;
    background: linear-gradient(90deg, rgba(24, 15, 110, 1) 0%, rgba(223, 192, 233, 1) 34%, rgba(122, 37, 141, 1) 63%, rgba(135, 113, 166, 1) 100%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #f0f0f0;
}
.logo {
    height: 50px;
}

header h1 {
    font-size: 24px;
    text-align: center;
    padding-left:calc(100vw - 400px);
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
}

.card {
    background-color: #6a3f6e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    color: #feecff;
    transition: transform 0.2s, box-shadow 0.2s;
    display: block; /
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.card h5 {
    font-size: 20px;
    font-weight: bold;
}