body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(90deg, rgba(24, 15, 110, 1) 0%, rgba(223, 192, 233, 1) 34%, rgba(122, 37, 141, 1) 63%, rgba(135, 113, 166, 1) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    padding: 26px 10px;
}

.header-left,
.header-center,
.header-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left {
    justify-content: flex-start;
}

.header-right {
    justify-content: flex-end;
    text-align: center;
}

.logo {
    height: 50px;
    position:relative;
    float:right;
    filter: brightness(1);
    transition: transform 0.3s ease;
    
}
.logo:hover {
    filter: brightness(0) invert(1);
    transform: scale(1.25); 

}
header h1 {
    font-size: 24px;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 20px;
    margin-top: 30px;
}

.card {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 23%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #6a3f6e;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card input[type="submit"]:hover {
    background-color: #94589a;
    color: #ffffff;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}